<form>
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" id="title" class="form-control">
  </div>
  <div class="form-group">
    <label for="price">Price</label>
    <div class="input-group">
      <span class="input-group-addon"></span>
      <input type="number" id="price" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <label for="category">category</label>
    <select  id="category" class="form-control">
      <option value=""></option>
    </select>
  </div>
  <div class="form-group">
    <label for="imageUrl">Image URL</label>
    <input type="text" id="imageUrl" class="form-control">
  </div>
  <div class="input-group">
    <div class="input-group-prepend">
      <div class="input-group-text" id="btnGroupAddon">$</div>
    </div>
    <input type="text" class="form-control" placeholder="Input group example" aria-label="Input group example" aria-describedby="btnGroupAddon">
  </div>
  <button class="btn btn-primary">Save</button>
</form>
