
<h1>Shipping</h1>
<form (ngSubmit)="placeOrder()" >
    <div class="form-group">
      <label for="">Name</label>
        <input class="form-control" type="text" name="name" placeholder="name">
    </div>
    <div class="form-group">
        <label for="">Address</label>
          <input class="form-control" type="text" name="address1" placeholder="line1">
      </div>
      <div class="form-group">
            <input class="form-control" type="text" name="address2" placeholder="line2">
      </div>
      <div class="form-group">
        <label for="">City</label>
        <input class="form-control" type="text" name="city" placeholder="city">
      </div>
      <button class="btn btn-primary" type="submit">Place Order</button>
  </form>

